@page
@model AboutModel
@{
    ViewData["Title"] = "About Me";
}

<h1>About Me</h1>

<p>
    My name is Patrik Pospisil. I am an enthusiastic learner who completed online courses in Python and C#.
</p>
<p>
    Although I haven’t worked in the IT industry yet, I am fully motivated to grow and gain real-world experience as a Junior Developer or Software Tester.
</p>
<p>
    I enjoy learning new technologies, building practical projects, and collaborating with others.
</p>
