@page
@model Patrik_Pospisil_Portfolio_Web.Pages.ContactModel
@{
    ViewData["Title"] = "Contact Me";
}

<div class="container mt-4">
    <h2 class="mb-4 text-primary">@ViewData["Title"]</h2>

    <form method="post" class="card p-4 shadow-sm">
        <div class="mb-3">
            <label asp-for="Message.Name" class="form-label"></label>
            <input asp-for="Message.Name" class="form-control" />
            <span asp-validation-for="Message.Name" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Message.Email" class="form-label"></label>
            <input asp-for="Message.Email" class="form-control" />
            <span asp-validation-for="Message.Email" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Message.Content" class="form-label"></label>
            <textarea asp-for="Message.Content" rows="5" class="form-control"></textarea>
            <span asp-validation-for="Message.Content" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary">Send</button>
    </form>

    @if (TempData["SuccessMessage"] != null)
    {
        <div class="alert alert-success mt-3">@TempData["SuccessMessage"]</div>
    }
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
