@page
@model IndexModel
@{
    ViewData["Title"] = "Welcome";
}

<h1>Hi, I'm Patrik Pospisil</h1>
<p>I'm an aspiring Junior Web Developer and Software Tester with a passion for learning and creating modern applications.</p>

<p>
    🔗 <a href="https://github.com/Pospa20CZ" target="_blank">GitHub</a><br>
    💼 <a href="https://www.linkedin.com/in/patrikpospisil20" target="_blank">LinkedIn</a>
</p>

<p><a class="btn btn-primary" href="/Contact">Contact Me</a></p>
